<!DOCTYPE html>
<html lang="en">
<head>
<title>ABSA Phone Book - Home Page</title>
<link rel="shortcut icon" href="../static/img/contacts.ico" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

<link href="../static/css/reg.css" rel="stylesheet">
</head>
<body>

<div class="container">
<div class="header">
	<img src="../static/img/logo.png" alt="ABSA Phone Book" class="responsive"></li>
</div>

<ul>
  <li><a class="active" href="/">Home</a></li>
  <li><a href="/add">Add</a></li>
  <li><a href="/reports">View</a></li>
  <li><a href="/search">Search</a></li>
</ul>

<h2>ABSA Phone Book Application</h2>
<p>Store, View and Search ABSA Employee Contact Details. The application will also use Add, View and Search API that have developed with Flask.</p>
<p><strong>Important Note:</strong></p>
<p>The application has been development in partial fulfillment of the need to assess Lloyd Mwaluku's Development Capability.</p>

<footer class="footer">
<p>&copy; Lloyd Mwaluku 2019</p>
</footer>
</div>

</body>
</html>
